<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test example">
	<parameter name="appURL" value="http://dir.bg/" />
	<parameter name="username" value="g5140549@trbvm.com" />
	<parameter name="password" value="2477261f" />
	<parameter name="wrongUsername" value="username" />
	<parameter name="wrongPassword" value="password" />
	<test name="sample test using Chrome">
		<parameter name="browserType" value="chrome" />
		<classes>
			<class name="bg.mdg.tests.HomePageTest" />
			<class name="bg.mdg.tests.LoginPageTest" />
		</classes>
	</test>
<!-- 	<test name="sample test using Firefox">
		<parameter name="browserType" value="firefox" />
		<classes>
			<class name="bg.mdg.tests.HomePageTest" />
			<class name="bg.mdg.tests.LoginPageTest" />
		</classes>
	</test> -->
</suite>

	


